.text-orange {
  color: #007bff;
}

.active-link {
  color: #007bff;
  font-weight: bold;
  background-color:#1873d4;
  padding: 8px 12px;
  border-radius: 5px;
  display: block;
}

.inactive-link {
  color: #5a5a5a;
  padding: 8px 12px;
  display: block;
}

.active-link:hover,
.inactive-link:hover {
  background-color:#71a9e4;
  border-radius: 10px;
  color:#007bff;
  transition: background-color 0.2s;
}
