/* Container thông tin người dùng */
.user-profile-container {
  display: flex;
  justify-content: center;
}

.user-card {
  width: 550px;
  background-color: #ffffff; /* Nền trắng sáng */
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
  text-align: center;
  padding: 20px;
  height: auto;
}

/* Container avatar */
.avatar-container {
  margin-bottom: 15px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Làm tròn hình ảnh */
  object-fit: cover;
  border: 2px solid #ddd; /* Viền avatar */
}

/* Thông tin người dùng */
.user-info h2 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #007bff; /* Màu xanh dương đậm */
  font-weight: bold;
}

.user-info p {
  font-size: 1rem;
  margin: 5px 0;
  color: #495057; /* Màu chữ chính */
}

.user-info p strong {
  color: #333; /* Màu chữ đậm */
}

/* Nhập mật khẩu */
.password-input-container {
  display: flex;
  align-items: center;
}

.password-input-container .form-control {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #007bff; /* Đường viền xanh dương */
  border-radius: 5px;
}

.password-input-container .toggle-password {
  margin-left: 10px;
  font-size: 16px;
  color: #007bff; /* Màu xanh dương */
  cursor: pointer;
}

.password-input-container .toggle-password:hover {
  color: #0056b3; /* Xanh đậm hơn khi hover */
}

/* Chỉnh sửa avatar */
.avatar-edit {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #007bff; /* Viền màu xanh dương */
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.avatar-edit:hover {
  border-color: #0056b3; /* Xanh đậm hơn khi hover */
}
.title-header{
  color: #007bff; /* Màu xanh dương đậm */
  font-weight: bold;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
