/* Giao diện nút */
.me-3-shadow {
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff; /* Xanh dương */
    color: #ffffff; /* Màu chữ trắng */
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
}

.me-3-shadow:hover {
    background-color: #0056b3; /* Màu xanh dương đậm hơn khi hover */
    color: #ffffff; /* Màu chữ trắng khi hover */
}

/* Tiêu đề */
.title-container {
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Hiệu ứng bóng nhẹ */
    color: #007bff; /* Màu xanh dương đậm */
    font-weight: bold;
}

/* Bảng */
.custom-table tbody tr {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-table tbody tr:hover {
    background-color: #e9ecef; /* Màu nền nhạt hơn khi hover */
    color: #495057; /* Màu chữ đậm hơn */
}

.custom-table th {
    background-color: #007bff; /* Màu xanh dương */
    color: #ffffff; /* Màu chữ trắng */
    font-weight: bold;
    text-transform: uppercase;
}

.custom-table th,
.custom-table td {
    text-align: center;
    vertical-align: middle;
}

/* Tiêu đề bảng */
.custom-table-header {
    background-color: #f4f7fc; /* Màu nền nhạt */
    color: #343a40; /* Màu chữ */
}

/* Modal */
.no-border-header .modal-header {
    border-bottom: none;
    background-color: #f8f9fa; /* Màu nền sáng */
}

.no-border-header .modal-body {
    border-bottom: none;
    background-color: #ffffff;
}

/* Bảng */
.custom-table {
    margin-bottom: 0px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); /* Hiệu ứng đổ bóng */
}
