/* Warehouse.css */

.container {
    max-width: 1200px;
    margin: 0 auto;
    color:#FF8000;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color:#FF8000;
  }
  
  .table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  .table-bordered {
    border: 1px solid #ddd;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
  
  .thead-dark {
    background-color: #343a40;
    color: white;
  }
  .thead-dark tr td  {
    color:#FF8000;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  th {
    font-weight: bold;
  }
  
  .btn {
    margin-top: 10px;
  }
  
  .btn-success {
    background-color: #FF8000;
    color: white;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: white;
  }
  
  .btn-primary {
    background-color: #FF8000;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: white;
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .modal.show {
    display: flex;
  }
  
  .modal-dialog {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-body {
    padding: 20px 0;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .mb-2 {
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="text"]:focus, input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .close {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .d-flex {
    display: flex;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
  
  .mb-3 .form-control {
    width: 300px;
  }
  
  input[type="text"] {
    margin-bottom: 100px;
    width: 150px;
  }
  